<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-vue.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/vue-multiselect.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fab.css}"/>
    <title>Search</title>
</head>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    input::-webkit-clear-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<body>
<div id="view-detect-one-code">
    <template>
        <b-container fluid>
            <b-card class="mb-2 mt-5">
                <b-form-row>
                    <b-col lg="1" class="my-1">
                        Mã
                    </b-col>
                    <b-col lg="2" class="my-1">
                        <b-form-input v-model="code" :disabled="isSearching" placeholder="Nhập mã chứng khoán"
                                      list="listCodeSearch" type="search"></b-form-input>
                        <datalist id="listCodeSearch">
                            <option v-for="codeName in listCodeSearch">{{ codeName }}</option>
                        </datalist>
                    </b-col>
                </b-form-row>

                <b-form-row>
                    <b-col lg="1" class="my-1">
                        Ngày bắt đầu
                    </b-col>
                    <b-col lg="2" class="my-1">
                        <b-input v-model="startDate" :disabled="isSearching" type="date"></b-input>
                    </b-col>
                </b-form-row>

                <b-form-row>
                    <b-col lg="1" class="my-1">
                        Ngày kết thúc
                    </b-col>
                    <b-col lg="2" class="my-1">
                        <b-input v-model="endDate" :disabled="isSearching" type="date"></b-input>
                    </b-col>
                </b-form-row>

                <b-form-row>
                    <b-col lg="1" class="my-1">
                        Chỉ báo
                    </b-col>

                    <b-col lg="5" class="my-1">
                        <multiselect v-model="nameIndicator" :disabled="isSearching" placeholder="Nhập chỉ báo"
                                     label="name" track-by="name" :options="listIndicator"
                                     :multiple="true" :taggable="true" @tag="addIndicator">
                        </multiselect>
                    </b-col>
                </b-form-row>

                <b-form-row>
                    <b-col lg="4" class="my-1">
                        Chỉ tìm kiếm được trong khoảng thời gian tối đa 1 tháng
                    </b-col>
                </b-form-row>

                <b-form-row>
                    <b-col lg="1" class="my-1">
                        <b-button @click="onSearchClicked" variant="primary" block :disabled="isSearching">
                            Quét
                        </b-button>
                    </b-col>
                </b-form-row>

            </b-card>

            <div style="max-height: 800px; overflow-y: auto; overflow-x: auto;"
                 class="table-wrapper text-center">
                <b-table :fields="fields" class="table-striped">
                </b-table>
            </div>

            <div style="max-height: 800px; overflow-y: auto; overflow-x: auto;"
                 class="table-wrapper text-center">
                <b-table :items="items" :fields="fields" class="table-striped">
                </b-table>
            </div>

        </b-container>

        <b-overlay :show="isSearching" rounded no-wrap opacity="0.4" spinner-type="border" @hidden="onHidden">
        </b-overlay>
    </template>
</div>

<script th:src="@{/lib/axios.min.js}"></script>
<script th:src="@{/lib/vue.min.js}"></script>
<script th:src="@{/lib/bootstrap-vue.min.js}"></script>
<script th:src="@{/lib/vue-multiselect@2.1.0.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/conf_fab.js}"></script>
<script th:src="@{/js/detectOneCode.js}"></script>
</body>

</html>
