<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/bootstrap-vue.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/vue-multiselect.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fab.css}" />
    <title>Search</title>
</head>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    input::-webkit-clear-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<body>
<div id="view-search-data">
    <template>
        <b-container fluid>
            <b-form-row>
                <b-col lg="2" class="my-1">
                    <b-input v-model="code" :disabled="isSearching" placeholder="Nhập mã chứng khoán" type="search">
                    </b-input>
                </b-col>

                <b-col lg="2" class="my-1">
                    <b-input v-model="dateSearch" :disabled="isSearching" type="date"></b-input>
                </b-col>

                <b-col lg="1" class="my-1">
                    <b-button @click="onSearchClicked" variant="primary" block :disabled="isSearching">Search
                    </b-button>
                </b-col>
            </b-form-row>

            <b-table small responsive bordered hover show-empty caption-top :busy="isSearching"
                     selected-variant="none" :items="items"
                     :fields="fields">
                <template slot="table-caption">Row = {{items.length}}</template>
                <div slot="table-busy" class="text-center text-primary my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Searching ...</strong>
                </div>
            </b-table>
        </b-container>
    </template>
</div>

<script th:src="@{/lib/axios.min.js}"></script>
<script th:src="@{/lib/vue.min.js}"></script>
<script th:src="@{/lib/bootstrap-vue.min.js}"></script>
<script th:src="@{/lib/vue-multiselect@2.1.0.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/conf_fab.js}"></script>
<script th:src="@{/js/searchData.js}"></script>
</body>

</html>
